body {
    font-size: Arial, helvetica, sans-serif;
    margin: 0;
    /*background:url(/public/background2.png) ;*/
    background-size: cover;
    background-attachment: fixed;
  }
  #body-formulario2 {
    background:url(/public/background2.png) ;
  }
  * {
    box-sizing: border-box;
  }
  .contenedor {
    width: 100%;
    padding: 15px;
  }
  .formulario {
    background: white;
    margin-top: 150px;
    padding: 3px;
    border:solid 1px;
  }
  .formulario2 {
    background: white;
    margin-top: 150px;
    padding: 3px;
    border:solid 1px;
  }
  .formulario3 {
    background: white;
    margin-top: 150px;
    padding: 3px;
    border:solid 1px;
  }
  .formulario4 {
    background: white;
    margin-top: 150px;
    padding: 3px;
    border:solid 1px;
  }
  h1 {
    text-align: center;
    color:#1a2537;
    font-size:40px;
  }
  .titulo {
    text-align: center;
    color:#1a2537;
    font-size:25px;
    margin-top: 20px;
  }
  .select-estado, .select-delicado {
    font-size: 20px;
    width: 15%;
    padding: 10px;
    border-right: #1a2537;
    border-left: #1a2537;
    border-top:#1a2537;
    margin-bottom: 10px;
    display: flex;
  }
  .fechas {
    font-size: 20px;
    width: 60%;
    padding: 10px;
    border-right: #1a2537;
    border-left: #1a2537;
    border-top:#1a2537;
    margin-bottom: 10px;
    display: flex;
    
  }
  input[type="text"],
  input[type="password"],
  input[type="email"]
  {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border-right: #1a2537;
    border-left: #1a2537;
    border-top:#1a2537;
  }
  input[type="number"] {
    font-size: 20px;
    width: 15%;
    padding: 10px;
    border-right: #1a2537;
    border-left: #1a2537;
    border-top:#1a2537;
    margin-bottom: 10px;
  }
  .icon {
    text-align: center;
    min-width: 50px;
    color: #999;
  }
  .boton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 30px;
  }
  .boton:hover{
    background: lightblue;
  }
  p {
    text-align: center;
  
  }
  .link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
  }
  .link:hover {
    color: cadetblue;
  }
  @media (min-width: 768px) 
  {
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
  }
    @media (min-width: 768px) 
    {
        .formulario2{
            margin: auto;
            width: 500px;
            margin-top: 80px;
            border-radius: 2%;
        }
  }
  @media (min-width: 768px) 
    {
        .formulario3{
            margin: auto;
            width: 600px;
            margin-top: 80px;
            border-radius: 2%;
        }
  }
  @media (min-width:768px)
    {
        .formulario4{
            margin: auto;
            width: 600px;
            margin-top: 80px;
            border-radius: 2%;
        }
    }
  .titulo-nosotros {
    text-align: center;
    margin-top:5cm;
    color:white;
    font-size: 80px;
  }
  
  .parrafo-nosotros {
    text-align:center;
    background:#0d6efd;
    
  
  }
  .body-nosotros {
    text-align: left;
    background:#0d6efd;
    width: 100%;
   
  
  }
  .section-no {
    display: flex;
  }
  .p-nosotros {
    text-align: left;
    background:#0d6efd;
    color:white;
    font-size: 20px;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 3cm;
    text-justify:5px;
  }
  .imagen-nosotros {
    width: auto;
    margin-right: 2cm;
    margin-top: 2.5cm;
  }
  .titulo-listado {
    margin-top:3cm;
  }
  .table {
    margin-left:1cm;
    margin-right:1cm;
    margin-top:2cm;
  }
  .boton-crear {
    margin-top:2cm;
    background:blue;
    margin-left:2cm;
  
  }
  .formulario_listado {
    margin-top:3cm;
    margin:3cm;
  }
  
  
  